
.page-background{
  /* background-image: url("https://images.alphacoders.com/101/1017427.png") ;*/
  /* opacity: 0.3;*/
  background-color: #65A30D;
  background-position: center;
  background-size: auto 100%;
}
.box-size{
  width: 33.33%;
}


