
.page-background{
  background-color: #65A30D;
  background-position: center;
  background-size: auto 100%;
}
.button-style{
  background-color: #ffffff;
  color: #65A30D;
}
.half-opacity{
  background-color: rgba(255, 255, 255, 0.3);

}
.button-style:hover{
  background-color: #65A30D;
  color: #ffffff;
  border-color: #ffffff;
}
.box-size{
  width: 33.33%;
}
.colored-text-input{
  color:#65A30D;
}
.button-center{
  display: inline-block;
  margin: 0 auto;
}

.background-2{
  background-color: #ffffff;
}

